[submodule "rule"]
	path = rule
	url = git@github.com:neo-rooney/rule.git
[submodule "practice"]
	path = practice
	url = git@github.com:neo-rooney/practice.git
[submodule "lecture"]
	path = lecture
	url = git@github.com:neo-rooney/lecture.git
[submodule "payment-sdk"]
	path = payment-sdk
	url = git@github.com:neo-rooney/payment-sdk.git
