#FooterWrap_mypage {
    clear:both;
    margin-top:40%;
    
   
}
/* .footer hr {
    border-Color:"gray"; margin-Left:20; margin-Right:250;
} */
#FooterWrap_board {
    clear:both;
    margin-top:60%;
}
#FooterWrap_home {
    clear:both;
    margin-top:60%;
}
