@import "reset.css";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    display: flex;
}

.nav {
    height: 100%;
    width: 15%;
    background-color: aqua;
    
}

.content {
    height: 100%;
    width: 85%;
    background-color: blueviolet;
}

a {
    color:inherit;
    text-decoration: none;
}
